@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	color: #fff;
	background: rgba(0,0,0,0.9);
	margin:0;
	font-family: 'Montserrat', sans-serif;
}

#naslov{
	margin: 5%;
}

#naslov h1,
h3,p{
	text-align: center;
}

#naslov p{
	font-size: 1.1rem;
}
#naslov p:nth-child(2){
	text-align: left;
}

#naslov ion-icon{
	width: 30px;
	height: 30px;
	color: green;
}

#mapa{
	width: 70%;
	height: 40vh;
	margin: auto;
}


