$color-primary: #202430;
$color-secondary-dark: #11052c;
$color-secondary-light: #2a0944;

$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-white: #fff;
$color-black: #000;

$color-gray-light-1: #f7f7f7;

// CARD variables

$color-butcher-primary: #be0000;
$color-butcher-secondary: #df2e2e;

$color-gym-primary: #fc5404;
$color-gym-secondary: #be0000;

$color-bankist-primary: #8236cb;
$color-bankist-secondary: #bfa2db;

$color-geolocationApp-primary: #297f87;
$color-geolocationApp-secondary: #faff00;

// SKILLS
$color-html: #fc5404;
$color-css: #0068bb;
$color-wordpress: #058abe;
$color-bootstrap: #6f11ee;
$color-js: #f0d81e;

//FONT
$default-font-size: 1.6rem;
$color-heading: #fff;
