.composition {
  position: relative;

  // height: 100%;
  background-color: #f7f7f7;
  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 2px;
    position: absolute;
    transition: all 0.4s ease;

    &--p1 {
      top: 0;
      left: -2rem;
      z-index: 1;
    }
    &--p2 {
      top: 2rem;
      right: 0;
      z-index: 2;
    }
    &--p3 {
      top: 10rem;
      left: 20%;
      z-index: 3;
    }

    &:hover {
      transform: scale(1.1) translateY(-5rem);
      z-index: 11;
      border: clamp(0.5rem, 1vw, 2rem) solid $color-primary;
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      padding: clamp(0.5rem, 1vw, 2rem);
    }

    @include respond(tab-port) {
      width: 90%;
      display: block;
      margin: 1rem auto;
      position: relative;
      top: 0;
      left: 0;
      right: 0;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
